<div class="container-fluid main">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <img ngSrc="assets/logo.svg" alt="home" height="36" width="172">

    <img ngSrc="assets/bell.svg" alt="home" height="24" width="24">
  </div>
  <div class="row main-container">
    <nav class="col-md-2 sidebar main-row">

      <div class="d-flex align-items-center flex-column vh-100">
        <div>
          <a href="#" class="list-group-item list-group-item-action active mb-3"><img ngSrc="assets/home.svg" alt="home" height="24" width="24">Dashboard</a>
          <a href="#" class="list-group-item list-group-item-action mb-3"><img ngSrc="assets/users.svg" alt="home" height="24" width="24">Accounts</a>
          <a href="#" class="list-group-item list-group-item-action mb-3"><img ngSrc="assets/sync.svg" alt="home" height="24" width="24">Activities</a>
        </div>

        <div class="mt-auto"></div>

        <div class="d-flex mb-5">
          <img src="assets/john.png" class="rounded-circle me-2" alt="User Avatar" style="width: 48px; height: 48px;">
          <div>
            <h5 class="mb-0 card-title">John Smith</h5>
            <p class="mb-0 card-subtitle">Principal</p>
          </div>
        </div>
        <div>
          <a href="#" class="list-group-item list-group-item-action"><img ngSrc="assets/sign-out.svg" alt="home" height="24" width="24">
            Sign Out</a>
        </div>
      </div>

    </nav>

    <div class="col-md-9 col-lg-10 card-row main-row">
      <!-- Cards for Charts -->
      <div class="row">
        <div class="col-lg-6">
          <div class="card no-border">
            <div class="card-body">
              <h5 class="card-title mb-5">Cars per household in USA 2021</h5>
              <app-pie-chart />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card no-border">
            <div class="card-body">
              <h5 class="card-title mb-5">Population of Alabama, Florida and California</h5>
              <app-multi-axis-line-chart />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
